body {
    background: #006eb6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 1rem;
}


#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 90%;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
    font-size: 1rem;
}

button {
    background: #3088d1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 1rem;
}

h2, label, p {
    color: #fff;
    margin: 8px 0;
}

button:hover {
    background: #006eb6;
}


#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hourly-item {
    flex: 1 1 auto;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

@media (max-width: 600px) {
    #weather-container {
        padding: 10px;
    }

    #hourly-forecast {
        flex-direction: column;
        align-items: center;
    }

    .hourly-item {
        margin-bottom: 15px;
        margin-right: 0;
    }
}
